h1{color:red;text-align:center;background-color:yellow;}
h2{background-color:pink;color:blue;}
.one{border-left:5px green dashed ;color:brown;
border-bottom:9px grey dashed ;}
#idtwo{background-color:purple;color:cyan;text-align:center;}